<template>
  <a class="btn btn-facebook btn-block text-left" href="#">
    <i class="fab fa-facebook-f" aria-hidden="true"></i>เข้าสู่ระบบด้วย Facebook
  </a>
</template>

<script>
export default {
    name: 'FacebookLogin'
}
</script>