<template>
  <a class="btn btn-google btn-block text-left mb-3" href="#">
    <i class="fab fa-google" aria-hidden="true"></i>เข้าสู่ระบบด้วย Google
  </a>
</template>

<script>
export default {
  name: "GoogleLogin"
};
</script>