<template>
  <course-create>
    <basic-info></basic-info>
  </course-create>
</template>

<script>
import CourseCreate from "../../components/layouts/CourseCreate";
import BasicInfo from "./../../components/courses/BasicInfo";


export default {
  name: "CourseBasicInfo",
  components: {
    CourseCreate,
    BasicInfo,
  }
};
</script>