<template>
    <course-create>
      <VideoUpload></VideoUpload>
    </course-create>
</template>

<script>
import VideoUpload from "./../../components/courses/VideoUpload";
import CourseCreate from "../../components/layouts/CourseCreate";

export default {
  name: "CourseVideoUpload",
  components: {
    VideoUpload,
    CourseCreate,
  },
};
</script>