<template>
  <div class="row px-3 my-3">
    <div class="col-12 col-md-8 mb-3 px-0 px-md-3">
      <div class="row">
        <div class="col-12">
          <video-player :options="videoOptions"></video-player>
        </div>
      </div>
    </div>
    <div class="col-12 col-md">
      <h3>{{course.title}}</h3>
      <p class="text-black-50">{{course.subtitle}}</p>
      <span>
        {{course.rating.score}}
        <i class="material-icons">star</i>
        ({{numberWithCommas(course.rating.totalScore)}} คะแนน) นักเรียน {{numberWithCommas(course.rating.totalEnroll)}} คน
      </span>
      <div class="teacher row d-flex my-4 align-items-center">
        <div class="col-auto">
          <router-link to="#">
            <div class="img-circle teacher-img"></div>
          </router-link>
        </div>
        <div class="col pl-0">
          <router-link to="#" class="text-dark">John Doe</router-link>
          <p class="text-black-50 text-sm mb-0">อัพเดทล่าสุด · {{course.updated_at}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <buy-now></buy-now>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BuyNow from "../../components/courses/BuyNow";
import VideoPlayer from "../../components/courses/VideoPlayer";

export default {
  name: "CourseView",
  components: {
    BuyNow,
    VideoPlayer
  },
  data() {
    return {
      videoOptions: {
        autoplay: false,
        controls: true,
        playbackRates: [0.5, 1, 1.5, 2],
        sources: [
          {
            src: "https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8",
            type: "application/x-mpegurl"
          }
        ]
      },
      course: {
        id: 1,
        title: "Take Picture Like a Pro",
        subtitle:
          "Ad elit deserunt velit exercitation reprehenderit ad laboris commodo sit.",
        description:
          "Id mollit aliqua excepteur officia reprehenderit cillum qui elit. Ut ea laborum sunt consequat incididunt ut. Eiusmod cupidatat pariatur laboris veniam Lorem ex exercitation in eiusmod. Ut nulla reprehenderit qui eiusmod elit ea in velit amet ad fugiat enim consequat. Laboris qui id anim sunt sunt dolore.",
        rating: {
          score: 4.5,
          totalScore: 33310,
          totalEnroll: 147186
        },
        updated_at: "ตุลาคม 2019"
      }
    };
  },
  methods: {
    numberWithCommas(num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
};
</script>

<style lang="scss" scoped>
.preview {
  display: block;
  width: 720px;
  height: 480px;
  background-color: lightgray;
}
.material-icons {
  vertical-align: middle;
  font-size: 1.1rem;
  padding-bottom: 4px;
}
.teacher-img {
  display: block;
  width: 45px;
  height: 45px;
  background-color: lightgray;
}
</style>