<template>
  <div class="enroll mb-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="row video-player">
          <div class="col-12 col-md-8 h-100" id="video-player">
            <video-player :options="videoOptions"></video-player>
          </div>
          <div class="col-12 col-md-4">
            <div class="playlist-header" id="playlist-header">
              <p class="pb-3 border-bottom mb-0">{{course.videos.length}} บทเรียน</p>
            </div>
            <ul class="list-group section overflow-auto" id="playlist">
              <router-link
                v-for="(video, index) in course.videos"
                :key="video.id"
                class="list-group-item border-0 align-items-center px-0"
                to="#"
              >
                <i class="material-icons">play_circle_outline</i>
                {{index+1}}.{{video.section}}
                <p class="duration">{{videoDuration(video.duration)}}</p>
              </router-link>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-4 px-md-3">
            <h4 class="my-3">{{course.title}}</h4>
            <ul class="nav overview border-bottom pb-0 mb-3" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active pl-0"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                >รายละเอียด</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">ถาม-ตอบ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact">โน๊ต</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane show active"
                id="home"
              >
              {{course.description}}
              </div>
              <div
                class="tab-pane"
                id="profile"
              >...</div>
              <div
                class="tab-pane"
                id="contact"
              >...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import VideoPlayer from "../../components/courses/VideoPlayer";

export default {
  name: "CourseEnroll",
  components: {
    VideoPlayer
  },
  data() {
    return {
      videoOptions: {
        autoplay: false,
        controls: true,
        playbackRates: [0.5, 1, 1.5, 2],
        sources: [
          {
            src:
              "https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8",
            type: "application/x-mpegurl"
          }
        ]
      },
      course: {
        title: "Take Picture Like a Pro",
        teacher: "John Doe",
        description: "Minim anim consequat non sunt amet duis occaecat ipsum. Voluptate do aliqua consequat deserunt incididunt elit veniam sunt dolore minim dolore sint occaecat dolore. Laborum consectetur qui sunt excepteur occaecat proident deserunt est exercitation anim sint. Pariatur aute cillum adipisicing pariatur amet. Est culpa qui ex culpa qui velit exercitation aliqua ipsum cillum.",
        videos: [
          {
            id: 1,
            section: "Introduction",
            duration: 600
          },
          {
            id: 2,
            section: "Project setup",
            duration: 790
          },
          {
            id: 3,
            section: "First project",
            duration: 790
          },
          {
            id: 4,
            section: "Second project",
            duration: 1500
          },
          {
            id: 5,
            section: "Third project",
            duration: 1300
          },
          {
            id: 6,
            section: "Deployment",
            duration: 2350
          },
          {
            id: 7,
            section: "Final project",
            duration: 1300
          }
        ]
      }
    };
  },
  mounted() {
    this.playListHeight();
  },
  methods: {
    videoDuration(time) {
      var hr = ~~(time / 3600);
      var min = ~~((time % 3600) / 60);
      var sec = time % 60;
      var sec_min = "";
      if (hr > 0) {
        sec_min += "" + hr + ":" + (min < 10 ? "0" : "");
      }
      sec_min += "" + min + ":" + (sec < 10 ? "0" : "");
      sec_min += "" + sec;
      return sec_min + " นาที";
    },
    playListHeight() {
      const videoPlayerHeight = $("#video-player").height()
      const playlistHeaderHeight = $("#playlist-header").height()
      const totalHegiht = videoPlayerHeight - playlistHeaderHeight
      $("#playlist").css("height", totalHegiht);
    }
  }
};
</script>


<style lang="scss" scoped>
.overview .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-right: 25px;
  color: rgba(0, 0, 0, 0.54);
}
.overview .nav-item {
  .active {
    color: rgba(0, 0, 0, 0.84);
    border-bottom: 3px solid black;
  }
}
.material-icons {
  vertical-align: middle;
  padding-bottom: 3px;
  width: 30px;
  color: rgba(0, 0, 0, 0.54);
}
a.list-group-item {
  text-decoration: none;
  color: inherit;
}
.duration {
  margin-left: 35px;
  margin-bottom: 0;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.54);
}
.section {
  overflow-y: auto;
}
</style>