<template>
  <div>
    <courses>
      <router-link v-for="draft in drafts" :key="draft.id" :to="{name: 'course.create'}" active-class="active">
        <div class="row">
          <div class="col-12">
            <h5 class="mb-0">{{draft.title}}</h5>
            <small class="text-black-50">แก้ไขล่าสุด 1 นาทีที่แล้ว · 35 นาที (3 บทเรียน)</small>
            <hr class="my-4" />
          </div>
        </div>
      </router-link>

      <div v-if="drafts.length === 0" class="row mt-5">
        <div class="col-12 text-center text-black-50">
          <p>ไม่มีคอร์สของคุณ</p>
          <p>
            สร้างคอร์สเพื่อแบ่งปันความรู้ของคุณ
            <router-link to="#">เรียนรู้เพิ่มเติม</router-link>
          </p>
        </div>
      </div>
    </courses>
  </div>
</template>

<script>
import Courses from "../../components/layouts/Courses";

export default {
  components: {
    Courses
  },
  data() {
    return {
      drafts: [
        {
          id: 1,
          title: "Hello World"
        },
        {
          id: 2,
          title: "Example"
        },
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
a {
  &:hover {
    text-decoration: none !important;
  }
}
h5 {
  color: rgba(0,0,0,0.84) !important;
  font-weight: 700;
}
</style>