<template>
  <div>
    <courses>
      <div class="row mt-5">
        <div class="col-12 text-center text-black-50">
          <p>ไม่มีคอร์สที่กำลังเผยแพร่</p>
          <p>
            สร้างคอร์สเพื่อแบ่งปันความรู้ของคุณ
            <router-link to="#" active-class="active">เรียนรู้เพิ่มเติม</router-link>
          </p>
        </div>
      </div>
    </courses>
  </div>
</template>

<script>
import Courses from "../../components/layouts/Courses";

export default {
  components: {
    Courses
  }
};
</script>