<template>
  <div class="row justify-content-center">
    <div class="col-9 px-0 my-5 d-flex justify-content-between align-items-center">
      <div>
        <h4 class="d-inline">{{ title }}</h4>
        <span class="badge badge-secondary course-status ml-2">ฉบับร่าง</span>
      </div>
      <div>
        <button class="btn btn-outline-secondary btn-sm mx-1">บันทึกฉบับร่าง</button>
        <button class="btn btn-success btn-sm">เผยแพร่</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CourseCreateName",
  data() {
    return {
      title: ""
    };
  },
  mounted() {
    this.getTitle();
  },
  methods: {
    getTitle() {
      this.title = "My Course";
    }
  }
};
</script>

<style lang="scss" scope>
.course-status {
  position: absolute;
  margin-top: 7px;
}
</style>