<template>
  <ul class="nav flex-column">
    <li class="nav-item">
      <router-link class="nav-link text-dark" :to="{name: 'course.create'}">อัพโหลดวีดีโอ</router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link text-dark" :to="{name: 'course.basicinfo'}">ข้อมูลทั่วไป</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "CourseCreateNav"
};
</script>

<style lang="scss" scoped>
.router-link-active {
  border-left: 3px solid black;
}
</style>
