<template>
  <li class="nav-item dropdown">
    <a
      class="nav-link d-flex"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="material-icons">apps</i>
      หมวดหมู่
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <router-link
        v-for="category in categories"
        :key="category.id"
        class="dropdown-item"
        to="/"
      >{{category.name}}</router-link>
    </div>
  </li>
</template>

<script>
export default {
  name: "NavbarCategoriesDropdown",
  data() {
    return {
      categories: [
        {
          id: 1,
          name: "Category 1"
        },
        {
          id: 2,
          name: "Category 2"
        },
        {
          id: 3,
          name: "Category 3"
        }
      ]
    };
  }
};
</script>