<template>
  <div class="navbar-search">
    <div class="input-group search">
      <input type="text" class="form-control" placeholder="ค้นหา..." />
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">
          <i class="material-icons">search</i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavbarSearch"
};
</script>

<style lang="scss">
.search {
  width: 450px;
}
</style>