<template>
  <div class="coruse-video-upload">
    <CourseCreateName></CourseCreateName>
    <div class="row justify-content-center">
      <div class="col-md-9 border rounded">
        <div class="row">
          <div class="col-md-3 border-right px-0 py-0">
            <CourseCreateNav></CourseCreateNav>
          </div>
          <div class="col-md-9 px-4 py-4">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CourseCreateName from "../layouts/snippets/CourseCreateName";
import CourseCreateNav from "../layouts/snippets/CourseCreateNav";

export default {
  name: "CourseCreate",
  components: {
    CourseCreateName,
    CourseCreateNav
  }
};
</script>