<template>
  <div class="courses container">
    <div class="row mb-4">
      <div class="col">
        <h1>คอร์สของคุณ</h1>
      </div>
      <div class="col-auto">
        <router-link :to="{name: 'course.create'}" class="btn btn-success">สร้างคอร์ส</router-link>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <ul class="nav border-bottom">
          <router-link :to="{name: 'course.draft'}" class="nav-link text-black-50 px-0">โครงร่าง</router-link>
          <router-link :to="{name: 'course.published'}" class="nav-link text-black-50 px-0 mx-3">สาธารณะ</router-link>
        </ul>
      </div>
    </div>

    <slot></slot>

  </div>
</template>

<script>

export default {
  name: "Courses",
};
</script>

<style lang="scss" scoped>
.router-link-active {
  border-bottom: 3px solid black;
  color: rgba(0,0,0,.84) !important;
}
</style>