<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white mb-4">
    <router-link class="navbar-brand" to="/">
      <img
        alt="Vue logo"
        width="30"
        height="30"
        class="d-inline-block align-top"
        src="../../assets/logo.png"
      />
      angkhana
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left nav -->
      <ul class="navbar-nav mr-auto">
        <NavbarCategoriesDropdown></NavbarCategoriesDropdown>
      </ul>

      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <NavbarSearch></NavbarSearch>
        </li>
      </ul>

      <!-- Right nav -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'about'}">เกี่ยวกับเรา</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'course.draft'}">สอนกับเรา</router-link>
        </li>
        <li class="nav-item">
          <LoginModal></LoginModal>
        </li>
        <li class="nav-item">
          <RegisterModal></RegisterModal>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import NavbarCategoriesDropdown from "./snippets/NavbarCategoriesDropdown";
import NavbarSearch from "./snippets/NavbarSeach";
import LoginModal from "./../auth/LoginModal";
import RegisterModal from "./../auth/RegisterModal";

export default {
  name: "Navbar",
  components: {
    NavbarCategoriesDropdown,
    LoginModal,
    RegisterModal,
    NavbarSearch
  }
};
</script>

<style scoped>
.navbar-brand {
  font-weight: 600 !important;
}
</style>
