<template>
  <div class="sidebar">
    <h6 class="px-3 font-weight-500 pb-1">หมวดหมู่</h6>
    <hr class="mx-3 mt-2 " />
    <ul class="nav flex-column">
      <li v-for="(category) in categories" :key="category.id" class="nav-item">
        <router-link class="nav-link active" to="#">{{category.name}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      categories: [
        {
          id: 1,
          name: "Finance"
        },
        {
          id: 2,
          name: "Language"
        },
        {
          id: 3,
          name: "Programing"
        },
        {
          id: 4,
          name: "Business"
        },
        {
          id: 5,
          name: "Art"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.sidebar .nav-link {
  color: rgba(0, 0, 0, 0.84) !important;
}
</style>