<template>
  <div class="home">
    <div class="row px-0 px-md-4">
        <div class="col-12 col-md-2">
          <sidebar></sidebar>
        </div>
        <div class="col-12 col-md">
          <slot></slot>
        </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '../components/layouts/Sidebar'

export default {
  name: 'home',
  components: {
    Sidebar,
  }
}
</script>
