<template>
  <home>
    <div class="row">
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12">
            <div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
              <p class="lead">This is a simple promote.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-3" v-for="course in courses" :key="course.id">
            <home-card :course="course"></home-card>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 bg-light p-3">
        <new-comer-card></new-comer-card>
      </div>
    </div>
  </home>
</template>

<script>
import Home from "../../views/Home";
import HomeCard from "./snippets/HomeCard";
import NewComerCard from "./snippets/NewComerCard";

export default {
  name: "HomeContent",
  components: {
    Home,
    HomeCard,
    NewComerCard
  },
  data() {
    return {
      courses: [
        {
          id: 1,
          title:
            "Qui amet dolor commodo occaecat ut et sunt elit ad aute aliquip adipisicing commodo ad.",
          description:
            "Eiusmod laborum ut exercitation tempor sit deserunt sunt laborum enim aliqua labore irure dolor irure.",
          teacher: "John Doe",
          category: "Finance",
          rating: 4.5,
          students: 11060
        },
        {
          id: 2,
          title: "Hello World",
          description: "Sint consectetur minim sunt quis irure nisi.",
          teacher: "Alex Wang",
          category: "Programming",
          rating: 3.5,
          students: 1850
        },
        {
          id: 3,
          title: "Take Picture Like a Pro",
          description:
            "Sit excepteur qui cupidatat pariatur qui cillum consequat reprehenderit.",
          teacher: "Steph Curry",
          category: "Art",
          rating: 4.7,
          students: 350
        }
      ]
    };
  }
};
</script>