<template>
  <div class="basic-info">
    <h5>ข้อมูลทั่วไป</h5>
    <p class="text-black-50">ข้อมูลทั่วไปจะช่วยให้กลุ่มเป้าหมายตัดสินใจ เรียนคอร์สของคุณมากขึ้น</p>
    <hr class="my-4" />
    <form action="#" method="POST">
      <div class="form-group">
        <label for="title">ชื่อคอร์ส</label>
        <input
          type="text"
          class="form-control"
          v-model="title"
          placeholder="กรุณากรอกชื่อคอร์สของคุณ"
        />
      </div>
      <div class="form-group">
        <label for="subtitle">คำอธิบายคอร์ส</label>
        <input
          type="text"
          class="form-control"
          v-model="subtitle"
          placeholder="เขียนคำอธิบายคอร์สสั้นๆ"
        />
      </div>
      <div class="form-group">
        <label for="description">รายละเอียด</label>
        <textarea
          type="text"
          class="form-control"
          rows="4"
          v-model="description"
          placeholder="รายละเอียดคอร์ส..."
        />
      </div>
      <div class="form-group row">
        <div v-if="thumbnailUrl !== null" class="col-auto">
          <div id="preview-thumnail">
            <img v-if="thumbnailUrl" :src="thumbnailUrl" class="img-fluid" />
          </div>
        </div>
        <div class="col-auto">
          <label for="thumbnail">ภาพหน้าปก</label>
          <input type="file" class="d-block" id="thumbnail" @change="showSelectedThumbnail" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label for="category">หมวดหมู่</label>
          <select id="category" class="custom-select" @change="getSubcategories()">
            <option selected>กรุณาเลือกหมวดหมู่</option>
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
              :selected="category.id == selectedCategory.id"
            >{{category.name}}</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label for="subcategory">หมวดหมู่ย่อย</label>
          <select id="subcategory" class="custom-select">
            <option selected>กรุณาเลือกหมวดหมู่ย่อย</option>
            <option
              v-for="subcategory in subcategories"
              :key="subcategory.id"
              :value="subcategory.id"
            >{{subcategory.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label for="type">ชนิดคอร์ส</label>
          <select id="type" class="custom-select">
            <option selected>กรุณาเลือกประเภทคอร์ส</option>
            <option
              v-for="type in types"
              :key="type.id"
              :value="type.id"
              :selected="type.id == selectedType.id"
            >{{type.name}}</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label for="level">ระดับ</label>
          <select id="level" class="custom-select">
            <option selected>กรุณาเลือกระดับ</option>
            <option
              v-for="level in levels"
              :key="level.id"
              :value="level.id"
              :selected="level.id == selectedLevel.id"
            >{{level.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="skill">ทักษะที่ผู้เรียนจะได้รับ</label>
          <!-- <multiselect
            v-model="selectedSkills"
            tag-placeholder="เพิ่มทักษะที่ผู้เรียนจะได้รับ"
            placeholder="ค้นหา หรือ เพิ่มทักษะ เช่น: การถ่ายรูป"
            label="name"
            track-by="id"
            :options="skills"
            :multiple="true"
            :taggable="true"
            @skill="addskill"
          ></multiselect> -->
          <multiselect v-model="selectedSkills" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="id" :options="skills" :multiple="true" :taggable="true" @tag="addSkill"></multiselect>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  name: "BasicInfo",
  components: {
    Multiselect
  },
  data() {
    return {
      title: "",
      subtitle: "",
      description: "",
      thumbnail: "",
      thumbnailUrl: null,
      selectedCategory: {
        id: 0
      },
      categories: [
        {
          id: 1,
          name: "Finance"
        },
        {
          id: 2,
          name: "Programing"
        },
        {
          id: 3,
          name: "E-sport"
        }
      ],
      subcategories: [
        {
          id: 1,
          category_id: 1,
          name: "Finance 1"
        },
        {
          id: 2,
          category_id: 1,
          name: "Finance 2"
        },
        {
          id: 3,
          category_id: 2,
          name: "Programing 1"
        },
        {
          id: 4,
          category_id: 3,
          name: "E-sport 1"
        },
        {
          id: 5,
          category_id: 1,
          name: "E-sport 2"
        }
      ],
      selectedType: {
        id: 0
      },
      types: [
        {
          id: 1,
          name: "Free"
        },
        {
          id: 2,
          name: "Premium"
        }
      ],
      selectedLevel: {
        id: 0
      },
      levels: [
        {
          id: 1,
          name: "Beginner"
        },
        {
          id: 2,
          name: "Intermediate"
        },
        {
          id: 3,
          name: "Advance"
        },
        {
          id: 4,
          name: "All Level"
        }
      ],
      selectedSkills: [
        { name: 'Laravel', id: 3 }
      ],
      skills: [
        { name: 'Vue.js', id: 1 },
        { name: 'Javascript', id: 2 },
        { name: 'Laravel', id: 3 }
      ]
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      (this.title = "My Course"),
        (this.subtitle = ""),
        (this.description = ""),
        (this.thumbnail = "");
    },
    getSubcategories() {
      // Get sub categories depend on category
    },
    showSelectedThumbnail(e) {
      const file = e.target.files[0];
      this.thumbnailUrl = URL.createObjectURL(file);
    },
    addSkill (newSkill) {
      const skill = {
        name: newSkill,
        id: newSkill.id
      }
      this.skill.push(skill)
      this.selectedSkills.push(skill)
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
#preview-thumnail {
  width: 150px;
}
</style>