<template>
  <div class="card card-body py-1">
    <div class="d-flex align-items-center mb-1">
      <span class="price">300</span>
      <span class="currency mx-1">บาท</span>
    </div>
    <p class="text-black-50 text-sm">รับประกันยินดีคืนเงินภายใน 30 วัน</p>
    <div class="row mb-3">
      <div class="col-12 col-md-12 mb-2">
        <router-link class="btn btn-danger btn-block py-3" :to="{name: 'course.enroll'}">เพิ่มไปยังรถเข็น</router-link>
      </div>
      <div class="col-12 col-md-12">
        <router-link class="btn btn-outline-secondary btn-block py-3" :to="{name: 'course.enroll'}">ซื้อเลย</router-link>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mb-2">หลักสูตรนี้ประกอบด้วย</p>
        <ul class="detail">
          <li>วีดีโอ 20 ชั่วโมง</li>
          <li>การเข้าถึงตลอดชีวิตแบบเต็มรูปแบบ</li>
          <li>เข้าถึงผ่านโทรศัพท์มือถือและทีวี</li>
          <li>ใบรับรองจบ</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BuyNow"
};
</script>

<style scoped>
.price {
  font-size: 2rem;
  font-weight: 800;
}
.currency {
  font-size: 2.3rem;
  font-weight: 800;
}
.detail {
  font-size: 0.9rem;
}

</style>Î