<template>
  <div class="video-card">
    <draggable v-model="videos" animation="200" @change="update">
      <transition-group>
        <div
          v-for="(video, index) in videos"
          :key="video.id"
          class="col-12 draggable border rounded mb-3 p-2"
        >
          <div class="d-flex align-items-center">
            <div class="col-1 px-0 text-center">
              <h3 class="text-muted mb-0">{{index+1}}</h3>
            </div>
            <div v-if="!video.editing" class="col">
              <div class="d-flex">
                <h6 class="mb-0 d-inline mr-2">{{video.name}}</h6>
                <span class="cursor-pointer" @click="showEdit(video)">
                  <i class="material-icons">edit</i>
                </span>
                <span class="cursor-pointer" v-b-modal="'deleteModal'+index">
                  <i class="material-icons">delete</i>
                </span>

                <!-- Modal -->
                <b-modal
                  :id="`deleteModal`+index"
                  hide-header
                  centered
                  button-size="sm"
                  content-class="shadow"
                >
                  <div class="row justify-content-center align-items-center py-3">
                    <div class="col-2">
                      <icon-delete/>
                    </div>
                    <div class="col-auto">
                      <h5>คุณกำลังลบวีดีโอ</h5>
                      <p class="text-black-50 mb-0">คุณแน่ใจว่าจะลบวีดีโอ {{video.name}} ?</p>
                    </div>
                  </div>
                  <template v-slot:modal-footer="{ ok, cancel }">
                    <b-button size="sm" variant="outline-secondary" @click="cancel()">ยกเลิก</b-button>
                    <b-button size="sm" variant="danger" @click="removeVideo(index)">ยืนยัน</b-button>
                  </template>
                </b-modal>
                <!-- .Modal -->
              </div>
              <small
                class="text-black-50 d-block"
              >{{ video.progress === 100 ? 'อัพโหลด 23 ตุลาคม' : 'Uploading...' }}</small>
              <div class="progress mt-1">
                <div
                  class="progress-bar progress-bar-striped bg-success"
                  role="progressbar"
                  :style="{width: `${video.progress}%`}"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div v-if="!video.editing" class="col-auto px-0">
              <div class="img-default"></div>
            </div>
            <!-- Editing -->
            <div v-if="video.editing" class="col py-2">
              <div class="form-group">
                <input
                  type="text"
                  v-model="video.name"
                  class="form-control"
                  @keyup.enter="doneEdit(video)"
                  @keyup.esc="cancelEdit(video)"
                  v-focus
                />
              </div>
              <button @click="doneEdit(video)" class="btn btn-success btn-sm">บันทึก</button>
              <button
                @click="cancelEdit(video)"
                class="btn btn-outline-secondary btn-sm mx-2"
              >ยกเลิก</button>
            </div>
            <!-- .Editing -->
          </div>
        </div>
      </transition-group>
    </draggable>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import $ from "jquery";
import iconDelete from "../icons/iconDelete";

export default {
  name: "VideoCard",
  components: {
    draggable,
    iconDelete
  },
  data() {
    return {
      beforeEditCache: "",
      videos: [
        {
          id: 1,
          name: "Hello.mp4",
          progress: 55,
          editing: false
        },
        {
          id: 2,
          name: "Example.mp4",
          progress: 25,
          editing: false
        },
        {
          id: 3,
          name: "Lorem.mp4",
          progress: 100,
          editing: false
        }
      ]
    };
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus();
      }
    }
  },
  methods: {
    update() {
      // Do something
    },
    showEdit(video) {
      this.beforeEditCache = video.name;
      this.videos.forEach(v => (v.editing = false));

      video.editing = true;
    },
    closeEdit(video) {
      video.editing = false;
    },
    doneEdit(video) {
      if (video.name.trim() == "") {
        video.name = this.beforeEditCache;
      }
      this.name = video.name;
      video.editing = false;
    },
    cancelEdit(video) {
      video.name = this.beforeEditCache;
      video.editing = false;
    },
    removeVideo(index) {
      this.videos.splice(index, 1);
      $("#deleteModal" + index).modal("hide");
    }
  }
};
</script>

<style scoped>
.progress {
  height: 8px !important;
}
small {
  font-size: 0.75rem;
}
.img-default {
  display: block;
  width: 100px;
  height: 55px;
  background-color: lightgray;
}
.draggable {
  cursor: move;
}
.material-icons {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.34);
}
</style>