<template>
    <div class="video-upload">
        <h5>อัพโหลด & จัดการบทเรียน</h5>
        <p class="text-black-50">สำหรับการเผยแพร่คอร์สของคุณ ความยาวโดยรวมของวีดีโอจะต้องไม่น้อยกว่า 10 นาที</p>
        <hr class="my-4">

        <video-card></video-card>

        <div class="text-center mb-3 mt-4">
            <input type="file" id="video-files" class="d-none" ref="videos" @change="upload" multiple>
            <a onclick="document.getElementById('video-files').click()">
                <icon-upload></icon-upload>
                <br>
                <span>อัพโหลดวีดีโอ</span>
            </a>
        </div>
        <div class="text-center">
            <p>Note: ความคมชัดอย่างน้อย 720p และขนาดไม่เกิน 4.0 GB</p>
        </div>
    </div>
</template>

<script>
import IconUpload from '../icons/iconUpload'
import VideoCard from '../courses/VideoCard'

export default {
    name: 'VideoUpload',
    components: {
        IconUpload,
        VideoCard
    },
    methods: {
        upload() {
            // Do somthing
        }
    }
}
</script>