<template>
  <div class="card border-0 rounded-0">
    <router-link :to="{name: 'course.view'}">
      <div class="card-img-top thumbnail rounded-0"></div>
    </router-link>
    <div class="card-body px-0 py-1">
      <div class="row h-100 d-flex">
        <router-link :to="{name: 'course.view'}" class="underline-0">
          <div class="col-12 header my-2">
          <h6 class="mb-0">{{course.title}}</h6>
        </div>
        </router-link>
        <div class="col-12 other align-self-end justify-items-center">
          <router-link to="#" class="text-dark text-sm">{{course.teacher}}</router-link>
          <span class="text-dark text-sm mx-1">in</span>
          <router-link to="#" class="text-dark text-sm">{{course.category}}</router-link>
          <span class="text-black-50 text-sm d-block">
            {{course.rating}}
            <i
              class="material-icons"
            >{{course.rating > 4 ? 'star' : course.rating > 3 ? 'star_half' : 'star_border'}}</i>
            · นักเรียน {{kFormatt(course.students)}} คน
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: ["course"],
  methods: {
    kFormatt(num) {
      return Math.abs(num) > 999
        ? Math.sign(num) * (Math.abs(num) / 1000).toFixed(1) + "k"
        : Math.sign(num) * Math.abs(num);
    }
  }
};
</script>

<style lang="scss" scoped>
.thumbnail {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 130px;
}
p {
  font-size: 0.8rem;
}
.header {
  width: 100%;
  max-height: 40px;
  overflow: hidden;
}
.description {
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.card-body {
  height: 110px;
}
.text-dark {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}
.other i {
  font-size: 0.8rem;
  vertical-align: middle;
  padding-bottom: 2px;
}
</style>