<template>
  <div class="text-center">
    <h5 class="my-3">ยินดีต้อนรับ</h5>
    <small class="text-black-50 d-block mb-3">สมาชิกใหม่ลงทะเบียนเพื่อรับคูปอง และสิทธิพิเศษอื่นๆอีกมากมาย</small>
    <button class="btn btn-success btn-sm">สมัครสมาชิก</button>
    <button class="btn btn-outline-success ml-2 btn-sm">เข้าสู่ระบบ</button>
    <div class="card card-body my-4">
        <p>Some promotion card for new comer</p>
    </div>
  </div>
</template>

<script>
export default {
    name: "NewComerCard"
}
</script>