<template>
  <svg
    version="1.1"
    width="70px"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 406.4 406.4"
    style="enable-background:new 0 0 406.4 406.4;"
    xml:space="preserve"
  >
    <path
      style="fill:#03A87C;"
      d="M366.4,98.4V308c0,5.6-4.8,10.4-10.4,10.4H50.4c-5.6,0-10.4-4.8-10.4-10.4V98.4
                        C40,92.8,44.8,88,50.4,88H356C361.6,88.8,366.4,92.8,366.4,98.4z M283.2,196c0-3.2-1.6-5.6-4-7.2l-112-56c-2.4-0.8-5.6-0.8-8,0
                        c-2.4,1.6-4,4-4,7.2v112c0,2.4,1.6,5.6,4,7.2c1.6,0.8,2.4,0.8,4,0.8c0.8,0,2.4,0,3.2-0.8l112-56C281.6,202.4,283.2,199.2,283.2,196z
                        "
    />
    <path
      style="fill:#FFF8EF;"
      d="M252.3,204.7l-72,38.3l-0.3-54.9c0-8,8.8-13.6,16-10.4L252.3,204.7z"
    />
    <path
      style="fill:#D9CDC1;"
      d="M161.2,137.4v117.3l28.8-13.1V188c0-1.4,0.9-1.7,1-1.7c0,0,0.1,0,0.1,0.1l0.2,0.1l55.1,27.1
                        l33.5-16.8L161.2,137.4z"
    />
    <path
      style="fill:#42210B;"
      d="M256.8,196l-86.4-43.2v86.4l8.8-4.8l65.6-32.8L256.8,196z M278.4,203.2l-112,56
                        c-0.8,0.8-2.4,0.8-3.2,0.8c-1.6,0-3.2,0-4-0.8c-2.4-1.6-4-4-4-7.2V140c0-3.2,1.6-5.6,4-7.2c2.4-1.6,5.6-1.6,8,0l112,56
                        c2.4,1.6,4,4,4,7.2C283.2,199.2,281.6,202.4,278.4,203.2z"
    />
    <path
      style="fill:#009F92;"
      d="M356,59H50.4C28.3,59,11,76.3,11,98.4V308c0,22.1,17.3,39.4,39.4,39.4H356
                        c22.1,0,39.4-17.3,39.4-39.4V98.4C395.4,76.3,378.1,59,356,59z M361.4,308c0,2.8-2.6,5.4-5.4,5.4H50.4c-2.8,0-5.4-2.6-5.4-5.4V98.4
                        c0-2.8,2.6-5.4,5.4-5.4H356c2.8,0,5.4,2.6,5.4,5.4V308z"
    />
    <path
      style="fill:#42210B;"
      d="M50.4,64.8C31.2,64.8,16,80,16,99.2v209.6c0,19.2,15.2,34.4,34.4,34.4H356
                        c19.2,0,34.4-15.2,34.4-34.4V98.4c0-19.2-15.2-34.4-34.4-34.4H50.4V64.8z M0.8,98.4c0-28,22.4-50.4,50.4-50.4H356
                        c28,0,50.4,22.4,50.4,50.4V308c0,28-22.4,50.4-50.4,50.4H50.4C23.2,358.4,0,336,0,308V98.4H0.8z"
    />
  </svg>
</template>