<template>
  <div class="login">
    <a class="nav-link text-success" v-b-modal.modal-center.modal-1>เข้าสู่ระบบ</a>
    <!-- Login Modal -->
    <b-modal
      id="modal-1"
      size="lg"
      content-class="shadow auth-modal"
      centered
      hide-header
      hide-footer
      no-fade
    >
      <div class="container">
        <button class="close position-absolute" @click="closeModal">
          <i class="material-icons">close</i>
        </button>
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 align-items-center">
            <h2 class="text-center my-4">ยินดีต้อนรับ</h2>
            <p
              class="text-black-50 text-center my-4"
            >เข้าสู่ระบบเพื่อรับเนื้อหาที่เหมาะสมกับตัวคุณ เนื้อหาที่แนะนำ, การติดตาม และบทเรียนต่างๆที่คุณชื่นชอบ</p>
            <FacebookLogin></FacebookLogin>
            <GoogleLogin></GoogleLogin>
            <form action="#" method="POST">
              <div class="form-group">
                <label for="email">อีเมล</label>
                <input type="text" id="email" class="form-control" placeholder="กรุณากรอกอีเมล" />
              </div>
              <div class="form-group">
                <label for="password">รหัสผ่าน</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="กรุณากรอกรหัสผ่าน"
                />
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" />
                <label class="form-check-label" for="rememberMe">จดจำรหัสผ่านไว้</label>
              </div>
              <button class="btn btn-success btn-block">เข้าสู่ระบบ</button>
            </form>

            <p class="text-center my-4">
              ไม่มีบัญชี ?
              <a href="#" @click="registerModal">ลงทะเบียน</a>
            </p>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import FacebookLogin from "./snippets/FacebookLogin";
import GoogleLogin from "./snippets/GoogleLogin";

export default {
  name: "LoginModal",
  components: {
    FacebookLogin,
    GoogleLogin
  },
  methods: {
    registerModal() {
      this.$root.$emit("bv::hide::modal", "modal-1", "#btnShow");
      this.$root.$emit("bv::show::modal", "modal-2", "#btnShow");
    },
    closeModal() {
      this.$root.$emit("bv::hide::modal", "modal-1", "#btnShow");
    }
  }
};
</script>

