<template>
  <div class="register">
    <button class="btn btn-outline-success" v-b-modal.modal-center.modal-2>ลงทะเบียน</button>
    <!-- Login Modal -->
    <b-modal
      id="modal-2"
      size="lg"
      content-class="shadow auth-modal"
      centered
      hide-header
      hide-footer
      no-fade
    >
      <div class="container h-100">
        <button class="close position-absolute" @click="closeModal">
          <i class="material-icons">close</i>
        </button>
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-md-5">
            <h2 class="text-center my-4">ลงทะเบียน</h2>
            <p
              class="text-black-50 text-center my-4"
            >ลงทะเบียนที่เรียนรู้ทักษะต่างๆที่คุณชื่นชอบ ติดตามผู้คน และสิทธิพิเศษอื่นๆอีกมากมาย</p>
            <FacebookLogin></FacebookLogin>
            <GoogleLogin></GoogleLogin>
            <p class="text-center">หรือ</p>
            <a class="btn btn-email btn-block text-left mt-1 mb-3" v-b-toggle="'collapse-2'">
              <i class="fas fa-envelope text-info mr-1" aria-hidden="true"></i>ลงทะเบียนด้วยอีเมล
            </a>
            <b-collapse id="collapse-2">
              <form action="#" method="POST">
                <div class="form-group">
                  <label for="email">อีเมล</label>
                  <input type="email" id="email" class="form-control" placeholder="กรุณากรอกอีเมล" />
                </div>
                <div class="form-group">
                  <label for="password">รหัสผ่าน</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="กรุณากรอกรหัสผ่านอย่างน้อย 6 ตัว"
                  />
                </div>
                <div class="form-group">
                  <label for="c-password">ยืนยันรหัสผ่าน</label>
                  <input
                    type="password"
                    id="c-password"
                    class="form-control"
                    placeholder="กรุณากรอกรหัสผ่านให้ตรงกัน"
                  />
                </div>
                <button class="btn btn-success btn-block">สมัครสมาชิก</button>
              </form>
            </b-collapse>
            <p class="text-center my-4">
              มีบัญชีอยู่แล้ว ?
              <a href="#" @click="goToLoginModal">เข้าสู่ระบบ</a>
            </p>
            <p class="text-center text-black-50 my-4">
              เมื่อคลิกสมัคร แสดงว่าคุณยินยอมตาม
              <br />
              <router-link to="#" class="text-black-50 underline">ข้อกำหนด นโยบายข้อมูล</router-link> และ
              <router-link to="#" class="text-black-50 underline">นโยบายคุ๊กกี้</router-link>ของเรา
            </p>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import FacebookLogin from "./snippets/FacebookLogin";
import GoogleLogin from "./snippets/GoogleLogin";

export default {
  name: "RegisterModal",
  components: {
    FacebookLogin,
    GoogleLogin
  },
  methods: {
    goToLoginModal() {
      this.$root.$emit("bv::hide::modal", "modal-2", "#btnShow");
      this.$root.$emit("bv::show::modal", "modal-1", "#btnShow");
    },
    closeModal() {
      this.$root.$emit("bv::hide::modal", "modal-2", "#btnShow");
    }
  }
};
</script>

<style lang="scss" scope>
.policy {
  font-size: 0.85rem !important;
}
.underline {
  text-decoration: underline;
}
</style>
